.cadastroLead {
	margin-bottom: 80px;
	.formGroup {
		width: 100%;
		height: 60px;
		display: flex;
	}
	.labelGroup {
		display:block;
		width: 20%;
		margin-bottom: 5px;
		text-align: right;
		padding: 10px 8px 0 0;
		box-sizing: border-box;
	}
	.inputGroup {
		width: 80%;
		height: 30px;
		border-radius: 5px;
		border: 0;
		background-color: #424242;
		padding: 4px 16px;
		color: white;
		box-sizing: border-box;
	}
	.buttonGroup {
		float: right;
		background-color:#59ff00;
		color: black;
		width: 80%;
		border: none;
		height: 30px;
		border-radius: 5px;
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	.cadastroLead {
		margin-bottom: 100px;
		padding: 0 10%;
		.formGroup {
			display: block;
			height: 80px;	
		}
		.labelGroup {
			text-align: left;
			width: 100%;
			padding-bottom: 10px;
		}
		.inputGroup {
			width: 100%;
			box-sizing: border-box;
		}
		.buttonGroup {
			width: 100%;
			margin-top: 20px;
		}
	}
}