@import './global/variables';

.modalOverlay {
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

	background:black;
	background:rgba(000,000,000,0.8);
  
	filter:blur(4px);
	-o-filter:blur(4px);
	-ms-filter:blur(4px);
	-moz-filter:blur(4px);
	-webkit-filter:blur(4px);
	z-index: 9999;
}
.cadastroLead {
	background-color: white;
	height: 520px;
	left: 50%;
	margin-left: -400px;
	margin-top: -260px;
	padding: 20px 40px;
	position: fixed;
	top: 50%;
	width: 800px;
	z-index: 999999;
	@include breakpoint('mobile') {
		width: calc(100% - 10vw);
		margin-left: initial;
		margin-top: initial;
		top: 10vw;
		bottom: 10vw;
		height: calc(100% - 10vh);
		left: 5vw;
		right: 5vw;
	}

	.formGroup {
		width: 100%;
		height: 60px;
		display: flex;
	}
	.labelGroup {
		display:block;
		width: 20%;
		margin-bottom: 5px;
		text-align: right;
		padding: 10px 8px 0 0;
		box-sizing: border-box;
	}
	.inputGroup {
		width: 80%;
		height: 40px;
		border-radius: 5px;
		border: 0;
		background-color: #424242;
		padding: 4px 16px;
		color: white;
		box-sizing: border-box;
	}
	.buttonGroup {
		float: right;
		background-color: $color-yellow;
		color: black;
		width: 80%;
		border: none;
		height: 40px;
		border-radius: 5px;
		cursor: pointer;
	}
	.error {
		color: #fff;
		font-weight: 500;
		background-color: #f44336;
		border-radius: 4px;
		margin: 0 auto 15px;
		padding: 12px 8px;
		border: 0;
		text-align: center;
	}
	.success {
		color: #fff;
		font-weight: 500;
		background-color: #4caf50;
		border-radius: 4px;
		margin: 0 auto 15px;
		padding: 12px 8px;
		border: 0;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.cadastroLead {
		margin-bottom: 100px;
		padding: 0 10%;
		.formGroup {
			display: block;
			height: 80px;	
		}
		.labelGroup {
			text-align: left;
			width: 100%;
			padding-bottom: 10px;
		}
		.inputGroup {
			width: 100%;
			box-sizing: border-box;
		}
		.buttonGroup {
			width: 100%;
			margin-top: 20px;
		}
	}
}