
.label {
    color: white;
}

.contentInitialScreen{
    background-color: white;
}


//page1 Options to signIn 
.portalContainer--loginLayout{
    //signIn button
    :global(.vtex-login-2-x-button .vtex-button){
        background-color: black;
        
        //background houver button
        &:hover{background-color: #f1c233} 
        //font color houver button
        &:hover{
            span{
                color: black;
            }
        }   
    }
    //font style
    :global(.vtex-button__label){
        font-size: small;
    }

    //font style forgot password
    :global(.vtex-login-2-x-forgotPasswordLink){
        color:black;
    }

    //input field layout login
    :global(.vtex-styleguide-9-x-noAppearance){
        background-color: #101010;
    }

    //font style do you have account
    :global(.vtex-login-2-x-dontHaveAccount){
        color:black;
    }

    //container layout my account
    :global(.vtex-login-2-x-content--accountOptions){
        background-color: #101010;
    }
    

}
.arrowUp {
    background-color: white;
}

//layout send email cod acess
.sendButton{
    &:hover{background-color: #f1c233 }
    &:hover{
        span{
            color: black;
        }
        box-sizing: border-box;
        //border-width: .125rem;
        border-radius: 2px;
        border-color: #f1c233;
        //border-style: solid;
    }    
}


.loginOptionsContainer{
    padding: 10px;
}

.content{
    background-color: white;
}

.backButton{
    background-color: black;
    box-sizing: border-box;
    border-width: .125rem;
    border-radius: 2px;
}

