.container-main {
  .container {
	padding: 0;
	margin: 100px auto;
	max-width: 1180px;
  }
}
.flexRowContent--main-header-mobile {
  background-color: transparent !important;
}

.flexRow--container-cadastro {
  padding: 0;
  margin: 50px auto;
  max-width: 1080px;
  .flexRowContent--container-cadastro {
	display: flex;
	flex-direction: column;
  }
  .flexRow--banner-cadastro {
	width: 100%;
	border-radius: 15px;
	overflow: hidden;
  }
  .flexRow--form-cadastro {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	color: white;
  }
}

// container menu
.flexRow--container-menu {
  background: black;
  position: fixed;
  top: 64px;
  z-index: 999;
  width: 100%;
}

// hero
.flexRowContent--heroContainerImage {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  // width: 100vw;
  // height: 100vh;
}

.flexRow--product-main {
  :global(.vtex-button) {
	border: 0;
	&:hover,
	&:focus {
	  background-color: #f1c233;
	}
  }
  :global(.vtex-button__spinner-container) {
	background-color: #f1c233;
	border-radius: 5px;
  }
  :global(.vtex-styleguide-9-x-rotate) {
	color: black;
  }
}

//carrossel de logos
.flexRow--container-carrossel{
	background-color: black;
}

// bg color section values
.flexRow--section-black {
	background-color: #101010;
}
.flexRow--section-values {
  padding-bottom: 60px;
}
.flexCol--titles {
  max-width: 700px;
}

//style my account
.flexRow--styleAccount{
  background-color: white;

  //container - border infos
  :global(.vtex-my-account-1-x-boxContainer){
    border-color: black;
    border-radius: 2px;

  }
  //conteiner dados pessoais
  :global(.vtex-pageHeader__title){
    color:black;
  }

  //titulos
  :global(.vtex-my-account-1-x-dataEntryLabel){
    color:black;
  }
  //botao editar + botao definir senha
  :global(.vtex-button__label){
    color:black;
    &:hover{color:#f1c233};
  }

  //container newsletter
  :global(.vtex-my-account-1-x-newsletterContainerTitle){
    color:black;
  }

  //texto checkbox
  :global(.vtex-checkbox__label){
    color:black;
    &:hover{color:#f1c233};
  }
 
  //container lateral
  :global(.vtex-account_menu-link){
    color:black;
    &:hover{color:#f1c233};
  }
  //sair - container lateral
  :global(.vtex-my-account-1-x-menuLink){
    color:black;
    &:hover{color:#f1c233};
  }
    
}