@import './global/variables';

.footerLayout {
	margin-top: 5rem;
	background: url('assets/footer/background.png') right top no-repeat;
	display: block;
	background-size: cover;
	// min-height: 800px;
	padding-top: 100px;
	position: relative;
	
	:global(.vtex-flex-layout-0-x-flexRow--footerSection) {
		&::after {
			background-color: #191919;
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			top: 100px;
			bottom: 135px;
			width: 50%;
			@include breakpoint('mobile') {
				display: none;
			}
		}
		
	}
	:global(.vtex-flex-layout-0-x-flexCol--footerContainer) {
		background-color: #191919;
		margin: 0 auto 0;
		padding: 0;
		display: block;
		z-index: 99;

		:global(.vtex-flex-layout-0-x-flexRowContent) {
			padding: 20px;
		}
		:global(.vtex-rich-text-0-x-container) {
			:global(.vtex-rich-text-0-x-wrapper) {
				@include breakpoint('mobile') {
					width: 100%;
					text-align: center;
				}
			}
		}
		:global(.vtex-flex-layout-0-x-flexRow--newsMedia){
			display: block;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
			:global(.vtex-flex-layout-0-x-flexRow--mediaIcons) {
				width: 226px;
				margin-left: -20px;
				@include breakpoint('mobile') {
					width: 100%;
					margin-left: 0px;
					:global(.vtex-flex-layout-0-x-flexRowContent--mediaIcons) {
						display: flex;
						flex-direction: row;
					}
					
					:global(.vtex-flex-layout-0-x-flexColChild) {
						width: 60px;
					}
					:global(.vtex-flex-layout-0-x-flexCol) {
						width: 60px;
					}	
				}
			}
		}
		:global(.vtex-flex-layout-0-x-flexRow--siteMap){
			display: block;
			width: 100%;
			margin-bottom: 30px;
		}
		
		:global(.vtex-flex-layout-0-x-flexRow--paymentCertificates){
			:global(.vtex-flex-layout-0-x-flexRowContent--certificatesContent) {
				padding: 0;
			}
			display: block;
			width: 100%;
			margin-bottom: 60px;

			:global(.vtex-rich-text-0-x-container--textCertificados) {
				margin-left: 30px;
			}
	

			:global(.vtex-flex-layout-0-x-flexRowContent--certificatesContent) {
				@include breakpoint('mobile') {
					:global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
						margin: 30px auto;
						display: block;
						text-align: center;
					}
				}
			}
		}

		
		:global(.vtex-rich-text-0-x-paragraph) {
			font-size: 14px;
			padding: 0;
		}

		:global(.vtex-flex-layout-0-x-flexColChild) {
			height: auto !important;
			padding: 10px 0 10px;
			
			:global(.vtex-store-link-0-x-label--linksFooter) {
				font-family: 'Poppins-Regular', sans-serif;
				font-size: 15px;
				margin-bottom: 25px;
				display: block;
				@include breakpoint('mobile') {
					text-align: center;
				}
				&::before {
					content: '-';
					display: inline-block;
					margin-right: 5px;
				
				}
			}
		}

		:global(.vtex-rich-text-0-x-link),
		:global(.vtex-store-link-0-x-link--linksFooter) {
			color: white;
			text-decoration: none;
		}
		:global(.vtex-flex-layout-0-x-flexColChild),
		:global(.vtex-flex-layout-0-x-flexColChild--footerContainer) {
			height: auto!important;
		}

		:global(.vtex-flex-layout-0-x-flexRowContent) {
			padding: 0 20px;
		}
		:global(.vtex-flex-layout-0-x-flexRow--ajudaBlock) {
			:global(.vtex-rich-text-0-x-paragraph) {
				margin-top: 0;
			}
			@include breakpoint('mobile') {
				text-align: center;
				:global(.vtex-rich-text-0-x-wrapper) {
					width: 100%;
					margin-top: 20px;

				}
				:global(.vtex-rich-text-0-x-paragraph) {
					text-align: center;
				}
			}
		}
		:global(.vtex-flex-layout-0-x-flexColChild) {
			padding: 0;
		}

	}

	:global(.vtex-flex-layout-0-x-flexRow--footerLogosSection) {
		background-color: black;
		border-top: 1px solid #303030;
		min-height: 135px;
		z-index: 99;
		display: block;
		@include breakpoint('mobile') { 
			text-align: center;
		}
		:global(.vtex-rich-text-0-x-container--richTextFooterRow4) {
			width: 100%;
			display: block;
			text-align: center;
		}
	}

}