.paginationDotsContainer {
    position: absolute;
    bottom: -40px;
}

.sliderRightArrow {
    position: absolute;
    color: white;
    margin:auto;
}
.caretIcon {
    width: 15px;
    pointer-events:none ;
}

.sliderLeftArrow {
    position: absolute;
    color: white;
    margin:auto;
}
.caretIcon {
    width: 15px;
    pointer-events:none ;
}
.sliderLayoutContainer--carousel {
    background-color: transparent;
}