@import './global/variables';

:global(.vtex-flex-layout-0-x-flexRow--container-main) {
	padding: 0;
	margin: 100px auto 150px;
	max-width: 1080px;
}
.autoCompleteOuterContainer--search-bar {
	:global(.vtex-input-prefix__group) {
		border: none;
		border-radius: 50px;
		border: thin solid #ffffff;
		background-color: transparent;
		:global(.vtex-styleguide-9-x-input) {
			border-radius: 0;
			background-color: transparent;
		}
		:global(.vtex-input__suffix) {
			border-radius: 0;
			background-color: transparent;
		}
	}
	
	.searchIcon {
		color: white;
	}
	:global(.vtex-input__suffix) {
		padding-right: 0;
	}
}

//Product Summary

.carouselGaleryThumbs {
	display: none;
}
.carouselGaleryCursor {
	margin: 0;
	padding: 0;
	width: 100%;
}

.swiperCaretPrev,
.swiperCaretNext {
	top: 330px;
}

.caretIcon {
	width: 15px;
}

.infoCardCallActionContainer--hideActionLink{  
  display: none;
}

// hero
.imageElement--heroImage {
	width: 100%;
}

// page product details
.productBrand--product-name {
	color: #f1c233;
	font-weight: 500;
	font-size: 2rem;
	text-transform: lowercase;

		&::before {
			content: '.';
		}
	}
	.price_className--product-price {
		margin-top: 2rem;
	}
.content--product-description {
	margin: 2rem auto 1rem;
	padding: 1rem;
	background-color: #000000;
	border-radius: 3px;
	line-height: 1.5rem;
}

.buyButtonText {
	color: #101010;
}

// image banner page
.imageElement--opacity-banner {
	filter: brightness(30%)
}