//estilizacao titulo carrossel
.paragraph--title-logo-message{
    font-size: large;
    font-family: Circular Std Medium,sans-serif;
    font-size: 3.0rem;
    margin-top: 6.5rem;
}

.container--title-logo-message{
    background-color: black;
}