.contentContainer {
	margin: 60px 0;
}
.listContainer {
	z-index: 999;
}

.listItem {
	padding: 0;
	margin: 20px 0 0;
}

:global(.vtex-button) {
	&:focus,
	&:hover {
		background-color: transparent;
	}
}
:global(.vtex-button__label) {
	color: white;
	font-size: 14px;
	text-transform: lowercase;
}
.listItemActive {
	:global(.vtex-button) {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		border-bottom:2px solid #f1c233;
	}
}

.contentContainer--contentTabHome {
	:global(.vtex-search-result-3-x-gallery--grid) {
		padding-left: 0;
	}
}


@media (max-width: 768px) {
	.listItem {
		width: auto;
		:global(.vtex-button__label) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
