.brandName {
    color: white;
    padding: 0 20px;
    display: block;
    font-weight: 100;
    font-size: 1.4rem;
    height: 50px;
}

.element {
    background-color: #424242;

    :global(.vtex-rich-text-0-x-container) {
        position: absolute;
        border-radius: 30px;
        background: #424242;
        width: 40px;
        height: 40px;
        top: 90px;
        font-size: 0;
        z-index: 99;
        margin-left: 10px;
        &::before {
            content: '';
            width: 25px;
            height: 25px;
            display: block;
            margin: 8px 0 0 8px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root jss33' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='%23FFFFFF' d='M10 8.64L15.27 12 10 15.36V8.64M8 5v14l11-7L8 5z'/%3E%3C/svg%3E");
        }
    }

    :global(.vtex-button) {
        width: 200px;
        margin: 0 auto;
        border: 0;
        &:hover {
            background-color:rgb(62, 178, 0);
        }
    }
    :global(.vtex-add-to-cart-button-0-x-buttonDataContainer) {
        color: black;
    }
}