@import './global/variables';

.footerLayout {
	background: url('assets/footer/background.png') right top no-repeat;
	display: block;
	background-size: cover;
	// min-height: 800px;
	padding-top: 100px;
	position: relative;
	
	:global(.vtex-flex-layout-0-x-flexRow--footerSection) {
		&::after {
			background-color: #191919;
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			top: 100px;
			bottom: 135px;
			width: 50%;
		}
		
	}
	:global(.vtex-flex-layout-0-x-flexCol--footerContainer) {
		background-color: #191919;
		margin: 0 auto 0;
		// min-height: 700px;
		padding: 0;
		display: block;
		z-index: 99;

		:global(.vtex-flex-layout-0-x-flexRowContent) {
			padding: 20px;
		}

		:global(.vtex-flex-layout-0-x-flexRow--newsMedia){
			// background-color:red;
			display: block;
			width: 100%;
		}
		:global(.vtex-flex-layout-0-x-flexRow--siteMap){
			// background-color: blue;
			display: block;
			width: 100%;
		}
		
		:global(.vtex-flex-layout-0-x-flexRow--paymentCertificates){
			// background-color: green;
			display: block;
			width: 100%;
		}

		:global(.vtex-flex-layout-0-x-flexColChild--footerContainer) {
			height: auto!important;
		}
	}

	:global(.vtex-flex-layout-0-x-flexRow--footerLogosSection) {
		background-color: black;
		border-top: 1px solid #303030;
		min-height: 135px;
		z-index: 99;
		display: block;
	}

}

