@import './breakpoints';
@import './fonts';

//Fonts
$font-main: 'corebiz', sans-serif;
$font-bold: 'corebizBold', sans-serif;
$font-special: 'Nunito';

//Colors

$color-white: #FFF;
$color-black: #000;
$color-gray: #7A7A7A;
$color-newsletter: #F2F2F2; 
$color-lightgray: #BDBDBD;
$color-vermelho: #F8475F;